
/* CSS Document */

.tumblr_posts {	

}
.tumblr_post {		

}
.tumblr_title {	
font-family: Arial, SimHei;
font-size: 64px;
line-height: 4em;
color:#FFFFFF;
}

.tumblr_body img {	
  font-family: Arial, SimHei;
  font-size:16px;
  line-height:1.0em;
}

.tumblr_caption {
  font-family: Arial, SimHei;
  font-size: 64px;
}

.tumblr_quote {	

}
.tumblr_quote p {		

}
.tumblr_source {
	
}