
/* CSS Document */

.tumblr_posts {	
  width: 100%;
  list-style: none;
  background: #999999;
}
.tumblr_post {		
  width: 100%;
}
.tumblr_title {	
font-family: Arial, SimHei;
font-size: 24px;
line-height: 4em;
color:#FFFFFF;
text-align: center;
}

.tumblr_body img {	
  font-family: Arial, SimHei;
  font-size:18px;
  line-height:1.0em;
  width: 100%;
}

.tumblr_caption {
  font-family: Arial, SimHei;
  font-size: 18px;
  width: 100%;
}

.tumblr_quote {	

}
.tumblr_quote p {		
}
.tumblr_source {
  font-family: Arial, SimHei;
  font-size: 24px;
  text-align: center;
}

.blog-head {
  text-align: center;

}

.h3-tumblr {
  text-align: center;
  color: black;
  font-family: Arial, SimHei;
  
}