    <!-- Footer Definition --> 
    
       <footer class="footer-distributed">

			<div class="footer-right">

				<a href="https://www.tumblr.com/follow/mid-towncoffee"><i class="fa fa-tumblr"></i></a>
				<a href="https://twitter.com/mgbiven"><i class="fa fa-twitter"></i></a>
				<a href="contact.php"><i class="fa fa-envelope"></i></a>
				<a href="map-revised.html"><i class="fa fa-coffee"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="index.html">Home</a>
					·
					<a href="blog.html">Blog</a>
					·
					<a href="map-revised.html">Education</a>
					·
					<a href="links.html">Coffee Links</a>
					·
					<a href="contact.php">Contact Us</a>
				</p>

				<p>Mid-Town Coffee &copy; 2016</p>
			</div>

		</footer>

