    <nav class="navbar navbar-default navbar-fixed-top  navbar-inverse">
      
      <div class="container-fluid">
        <div class="navbar-header">    
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>         
          <a class="navbar-brand" href="index.html"><img src=/img/mtc-logo.jpg></a>
          <p class="navbar-right"> Mid-Town Coffee</p>
       
        </div>
        
        <div class="navbar-collapse collapse">
                <form action="" class="search-form">
            <div class="form-group">
              <input type="text" class="form-control input-md" maxlength="20" placeholder="Search">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>  
      </div><!-- /.container-fluid -->
    </nav>